<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Library</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="topDiv">
        <h1>Welcome, {{ session['user'][0]['first_name'] }}!</h1>
        <a href="/logout">Log off</a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li class="dropdown">
                <a href="" class="dropdownBtn">Account</a>
                <div class="dropdown_content">
                    <a href="/order_history">Order History</a>
                    <a href="/user_profile">Profile</a>
                    {% if session['user'][0]['user_group'] == "admin" %}
                        <a href="/get_user">Update User</a>
                        <a href="/add_book">Add Book</a>
                        <a href="/checkout">Check Out</a>
                        <a href="/checkin">Check In</a>
                        <a href="/add_event">Add Event</a>
                        <a href="/choose_event">Update Event</a>
                    {% endif %}
                </div>
            </li>
            <li><a href="/search">Search</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="inner_wrapper2">
        {% with successes = get_flashed_messages(category_filter=['success']) %}
            {% if successes %}
                {%- for msg in successes %}
                    <p class="success">{{ msg }}</p>
                {% endfor -%}
            {% endif %}
        {% endwith %}
        <h1>Update Event</h1>
        <form action="/process_update_event" method="POST">
            <input type="hidden" name="id" value="{{ event_info['event_id'] }}">
            <p>Event Name</p>
            <input type="text" name="event_name" value="{{ event_info['event_name'] }}">
            <p>Event Date</p>
            <input type="date" name="date" value="{{ event_info['date'].strftime('%m/%d/%Y') }}">
            <p>Event Time</p>
            <input type="time" name="time" value="{{ event_info['time'].strftime('%I:%M %p') }}">
            <p>Event Description</p>
            <textarea name="description" rows="5">{{ event_info['description'] }}</textarea>
            <p>Event Cost</p>
            <input type="number" name="cost" value="{{ event_info['cost'] }}">
            <p>Hosted By</p>
            <input type="text" name="hosted_by" value="{{ event_info['hosted_by'] }}">
            <p>Contact Name</p>
            <input type="text" name="contact_name" value="{{ event_info['contact_name'] }}">
            <p>Contact Phone</p>
            <input type="tel" name="contact_phone" value="{{ event_info['contact_phone'] }}">
            <p>Contact Address</p>
            <input type="text" name="contact_address" value="{{ event_info['contact_address'] }}">
            <p>Contact Email</p>
            <input type="email" name="contact_email" value="{{ event_info['contact_email'] }}">
            <br />
            <input type="submit" value="Update" class="button">
        </form>
        </div>
    </div>
</body>
</html>